body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title{
  font-family: 'Slackey', cursive;
  font-size: 40px;
  color: white;
  text-shadow:
    1px  4px 2px black,
    1px -1px 2px black,
   -1px  3px 2px black,
   -1px -1px 2px black;
}

.footer{
  width: 780px;
  margin: 0 auto;
  text-align: center;
  border: 8px solid black;
  margin-top: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.footer a img{
  height: 50px;
  width: 50px;
  opacity: .75;
}

.footer a img:hover{
  opacity: 1;
}

.footer div img{
  height: 50px;
  width: 50px;
}

.body{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game{
  margin: 0 auto;
  border: 8px solid black;
}

.rightbar{
  width: 150px;
  background: gray;
}

#start-screen, #game-over-screen, #pause-screen, #instruction-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#instruction-screen {
  position: absolute;
}

.instructions-box {
  text-align: center;
  border: 5px solid black;
  padding: 10px;
  background-color: white;
}

.instructions-box p{
  font-size: 18px;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.leftbar{
  width: 150px;
  background: gray;
}

.hidden{
  visibility: hidden;
}

.overlay h2:hover{
  cursor: pointer;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffff66, 0 0 70px #ffff66, 0 0 80px #ffff66, 0 0 100px #ffff66, 0 0 150px #ffff66;
}

#how-to-start:hover{
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #004d99, 0 0 70px #004d99, 0 0 80px #004d99, 0 0 100px #004d99, 0 0 150px #004d99;
}

.overlay{
  position: absolute;
  width: 800px;
  height: 500px;
  background-image: url('./images/scrollingBackground.png');
  font-family: 'Walter Turncoat';
}
